# Fichiers temporaires et de verrouillage KiCad
*.lck
*~
_autosave-*

# Fichiers de sauvegarde KiCad
*-backups/
*.bak
*.bck
*.kicad_pcb-bak
*.kicad_sch-bak

# Préférences locales de l'utilisateur et caches
*.kicad_prl
fp-info-cache

# Fichiers de fabrication (optionnel, décommentez si vous voulez les ignorer)
# *.gbr
# *.drl
# *.pos
# *.csv
# *.pdf
# *.xml
# *.xlsx.tmp
# *.ini